{
  "ConnectionStrings": {
    "Default": "数据库连接字符串"
  },
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Information",
        "Microsoft.AspNetCore": "Warning",
        "DbSchema": "Trace",
        "D": "Trace"
      }
    }
  }
}
